#login-button:hover {
  color: lightgray;
}

.goal-title {
  display: table;
  margin: 0 auto;
}

/* .each-card {
  background-color: lightgray;
  float: right;
} */

.goals {
  list-style-type: none;
  background-color: #FFFAF0;
}

.clouds {
  width: 100%;
}

.pond{
  width: 38%;
  position: absolute;
  bottom: 100px;
}

.tree{
  width: 20%;
  height: 50%;
  position: absolute;
  bottom: 100px;
  right: 100px;
}