#login-button:hover {
  color: lightgray;
}

.goals {
  list-style-type: none;
}

.cloud{
  width: 40px;
  background-position: right top;
}

.cow{
  width: 40px;
  background-position: right bottom;
}

.dead_Tree{
  width: 40px;
  background-position: bottom;
}

.ok_Tree{
  width: 40px;
  background-position: left bottom;
}

.healthy_Tree{
  width: 120px;
  background-position: left bottom;
}

.pond{
  width: 120px;
  background-position: right bottom;
}
/* .each-card {
  margin-top: 5px;
  border-radius: 5px;
} */
