#login-button:hover {
  color: lightgray;
}

.goal-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .each-card {
  background-color: lightgray;
  float: right;
} */

.goals {
  list-style-type: none;
}

.pond{
  width: 120px;
  background-position: right bottom;
}
.cloud{
  width: 40px;
  background-position: right top;
}

.cow{
  width: 40px;
  background-position: right bottom;
}

.dead_Tree{
  width: 40px;
  background-position: bottom;
}

.tree{
  width: 40px;
  background-position: left bottom;
}

.healthy_Tree{
  width: 120px;
  background-position: left bottom;
}


